<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/application/head' %>
  </head>
  <body class="text-black bg-stone-50 selection:bg-sky-900 selection:text-white ">
    <%= render 'shared/application/navbar' %>
    <%= render 'shared/application/notice' %>
    <%= yield %>
    <%= render 'shared/application/footer' %>
  </body>
</html>